.project__img {
    width: 46%;
    border-radius: 1.7rem;
}

@media screen and (min-width: 0px) {
    .project__img {
        width: 100%;
    }
}

@media screen and (min-width: 768px) {

}

@media screen and (min-width: 1024px) {
    .project__img {
        width: 46%;
    }
}